{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{res['res_name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}  
<table>
    <tr>
        <td>Restaurant Name: </td>
        <td>{{res['res_name']}}</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>{{res['street_addr']}}</td>
    </tr>
    <tr>
        <td>Cost: </td>
        <td>{{res['cost_category']}}</td>
    </tr>
    <tr>
        <td>City: </td>
        <td>{{city_state}}</td> 
    </tr>
    <tr>
        <td>Description: </td>
        <td>{{res['description']}}</td> 
    </tr> 
    <tr>
        <td>Average stars: </td>
        <td>{{res['avg_star']}}</td> 
    </tr> 
    <tr>
        <form action={{url_for("reserve",res_id=res['res_id'])}}>
        <input type="submit" value="Reserve" /></form>
        {%if g.user_id %}
        <form method="post">
        <button type="submit" name="add_fav" value={{res['res_id']}}>Add to Favorites</button></form>
        {% endif %}
    </tr>
</table>
<table border=1>
<tr>
    <td>
        Review Text
    </td>
    <td>
        stars
    </td>
    <td>
        likes
    </td>
</tr>

    {% for r in reviews %}
        <tr>
            <td>
                {{r['text']}}
            </td>
            <td>
                {{r['stars_value']}}
            </td>
            <td>
                {{r['likes']}}
            </td>
            <td>

                <form action={{url_for("likereview",res_id=res['res_id'],rating_id=r['rating_id'])}}>
                    <input type="submit" value="like" />
                </form>
            </td>    
        </tr>


    {%endfor%}
</table>

{% endblock %}  