<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>
  
  <a href="/">
    <button>Back to Dashboard</button>
 </a>
  
  <body>
  
   {% for r in res %}

    <ul>

    <li>Name: {{r.res_name}}</li>

    <li>Rating: {{r.star }}</li>
    
    <li>City: {{r.city_name }}</li>
    
    <li>Cuisine Type: {{r.cuisine_name }}</li>
    
    <li>Cost: {{r.cost_category }}</li>

    </ul>

   {% endfor %}
   
</body>
</html>
