{% extends 'base.html' %}

{% block header %}
  <a href="/">
    <button>Start Searching!</button>
  </a>
  <h1>{% block title %}Customer_Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="phone number">phone number</label>
    <input name="phone number" id="phone number" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Customer_Register">
  </form>
{% endblock %}