{% extends 'base.html' %}

{% block header %}
  <a href="/">
    <button>Start Searching!</button>
  </a>
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="phone_num">Customer Phone Number</label>
    <input name="phone_num" id="phone_num" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
